# C2 M1 Exp Recommender
**Course**: Course 2 (Master Class)
**Workflow**: `data-notebook-refiner`

---

In [ ]:
# üîß Setup & Imports
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np
import pandas as pd

## 1. Create Dummy User-Item Matrix

In [3]:

# Users as rows, Movies as columns
data = {
    'User1': [5, 4, 0, 0, 1],
    'User2': [4, 5, 1, 0, 0],
    'User3': [0, 0, 5, 4, 5],
    'User4': [1, 0, 4, 5, 4]
}
df = pd.DataFrame(data, index=['IronMan', 'Hulk', 'Romance1', 'Romance2', 'Romance3']).T
display(df)

       IronMan  Hulk  Romance1  Romance2  Romance3
User1        5     4         0         0         1
User2        4     5         1         0         0
User3        0     0         5         4         5
User4        1     0         4         5         4

## 2. Compute Similarity (User-Based)
Who has similar taste?

In [4]:
user_sim = cosine_similarity(df)
user_sim_df = pd.DataFrame(user_sim, index=df.index, columns=df.index)
display(user_sim_df)

          User1     User2     User3     User4
User1  1.000000  0.952381  0.094967  0.182349
User2  0.952381  1.000000  0.094967  0.162088
User3  0.094967  0.094967  1.000000  0.969762
User4  0.182349  0.162088  0.969762  1.000000

## 3. Top-N Recommendation
Recommending for User1 based on User2 (Most Similar).

In [5]:
target_user = 'User1'
similar_user = 'User2'

# Movies User1 hasn't seen
unseen = df.loc[target_user][df.loc[target_user] == 0].index
print('Unseen by User1:', unseen)

# Movies User2 surely liked
recs = df.loc[similar_user][unseen].sort_values(ascending=False)
print('\nRecommendation from User2:')
print(recs)

Unseen by User1: Index(['Romance1', 'Romance2'], dtype='object')

Recommendation from User2:
Romance1    1
Romance2    0
Name: User2, dtype: int64


---
## üìù Key Takeaways & Insights
*   **What did we learn?**
    *   (Ïó¨Í∏∞Ïóê ÌïµÏã¨ Î∞∞Ïö¥ Ï†êÏùÑ Í∏∞Î°ùÌïòÏÑ∏Ïöî)
*   **Next Steps**:
    *   (Îã§Ïùå ÌïôÏäµ Îã®Í≥Ñ)